html, body { background-color: #ececec;}
	body { margin: 0; padding: 0; padding-left: 30px; background-color: #ececec; margin-top: 20px; }
	h1 { font-family: Arial, Helvetica, sans-serif; size: 21pt; letter-spacing: -1px; color:#444444; }
	h2 { font-family: Arial, Helvetica, sans-serif; size: 15pt; letter-spacing: -1px; color:#444444; }
	h3 { font-family: Arial, Helvetica, sans-serif; size: 14pt; letter-spacing: -1px; color:#444444; }
	ul { margin-bottom: 50px; padding: 0; }
	li { text-decoration: none; list-style: none; list-style-type: none; margin-bottom: 5px; margin-top: 0; padding: 10; display: list-item; }
	li a { font-family: Arial, Helvetica, sans-serif; size: 12px; letter-spacing: 0px; color:#666666; margin-left: 10px; text-decoration:none; }
	li a:hover { font-family: Arial, Helvetica, sans-serif; size: 12px; letter-spacing: 0px; color:#ffa454; text-decoration:none; text-decoration: none; }
	a:visited { font-family: Arial, Helvetica, sans-serif; size: 12px; letter-spacing: 0px; color: #a85a16; text-decoration: none; text-decoration: none; }
	a:link { color: #f5821f; }
	a:hover { color: #ffa454; }
	a:active { color: #ececec; }